/* COLOR= #e67e22; 

GRID.CSS=

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

*/

/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
           
}

html {
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    
}

section {
    
}

.box {
    
}

/* ----- HEADINGS -------- */
h1, h2, h3 {
    ;    
}

h1 {
    
}

h2 {
    
}

h2::after {
    
}

@keyframes highlight {
    0% {
        color: #e67e22;
        letter-spacing: 8px;
    }
    100% {
        color: currentColor;
        letter-spacing: 1px;
    }
}

h2#ourcities:target, h2#signup:target {
    
}

h3 {
      
}

/* ----- PARAGRAPHS ------ */
.long-copy {
    
}

.box p {
    
}

/* ----- ICONS -------- */
.icon-big {
    
}

.icon-small {
    
    
    /* horizontal centering: */
    
    
    /* vertical centering: */
    
}

/* ----- LINKS ------ */
a:link, a:visited {
    
}

a:hover, a:focus {
    
}


/* ----- BUTTONS -------- */
.btn:link, .btn:visited {
    
}

.btn-full:link, .btn-full:visited {
    
}

.btn-ghost:link, .btn-ghost:visited {
    
}

.btn:hover, .btn:focus  {
    
}

.btn-full:hover, .btn-full:focus{
    
}

.btn-ghost:hover, .btn-ghost:focus {
    
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header {
    
}

.hero-text-box {
    
}

.logo {
    
}

.logo-black {
    
}

/* MAIN nav */
.main-nav {
    
}

.main-nav li {
    
}

.main-nav li a:link, .main-nav li a:visited {
    
}

.main-nav li a:hover, .main-nav li a:focus {
       
}

/* MOBILE nav */
.mobile-nav-icon {
    
} 

.mobile-nav-icon i {
    
}

/* Sticky Nav */
.sticky {
    
}

.sticky .main-nav {
    
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    
}

.sticky .logo {
   
}

.sticky .logo-black {
    
}

/* ---------------------------------------- */
/* FEATURES */
/* ---------------------------------------- */
.section-features .long-copy {
    
}

/* ---------------------------------------- */
/* MEALS  --no row used to ensure pics take full viewport width-- */
/* ---------------------------------------- */

.section-meals {
     /* no heading so remove top padding */
}

.meals-showcase {
    
}

.meals-showcase li {
    
}

.meal-photo {
    
}

.meal-photo img {
    
}

.meal-photo img:hover {
    
}

/* ---------------------------------------- */
/* HOW IT WORKS */
/* ---------------------------------------- */
.section-steps {
    
}

.steps-box {
    
}

.steps-box:first-child {
    
}

.steps-box:last-child {
    
}

.app-screen {
    
}

.works-step {
       
}

.works-step:last-of-type {
    
}

.works-step div { /* change the #s into a circle */
    
}

.btn-app:link, .btn-app:visited {
    
}

.btn-app img {
    
}

/* ---------------------------------------- */
/* CITIES */
/* ---------------------------------------- */

.box img {
    
}

.city-feature {
    
}

/* ---------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------- */
 
.section-testimonials {
    
}

blockquote {
    
}

blockquote::before {
    
}

cite {
    
}

cite img {
    
}

/* ---------------------------------------- */
/* SIGN UP PLANS*/
/* ---------------------------------------- */

.section-plans {
    
}

.plan-box {
    
}

.plan-box div {
     
}

.plan-box div:last-child {
    
}

.plan-box div:first-child {
    
}

.plan-price {
    
}

.plan-price span {
    
}

.plan-price-meal {
    
}

.plan-box ul li {
    
}

/* ---------------------------------------- */
/* FORM */
/* ---------------------------------------- */

.contact-form {
    
}

input[type="text"], input[type="email"], select, textarea {
    
}

textarea {
    
}

input[type="checkbox"] {
    
}

*:focus {
    
}
/*
.contact-form .col:not(:first-child) { margin-left: 0;} /* now all the rows that wrap each label/input are not needed */

.map-box {
    
}

.map {
    
}

.form-box {
    
}

.form-messages {
    
}

.success {
    
}

.error {
    
}

/* ---------------------------------------- */
/* FOOTER */
/* ---------------------------------------- */

footer {
    
}

footer p {
    
}

.footer-nav {
    
}

.social-links {
    
}

.footer-nav li, .social-links li {
    
}

.footer-nav li:last-child, .social-links li:last-child {
    
}

.footer-nav li a:link, .footer-nav li a:visited,
.social-links li a:link, .social-links li a:visited {
    
}

.footer-nav li a:hover, .footer-nav li a:focus {
    
}

.social-links li a:link, .social-links li a:visited {
    
}

.social-links i {
    
}

.ion-social-facebook:hover {
      
}

.ion-social-twitter:hover {
    
}

.ion-social-codepen:hover {
    
}

.ion-social-dribbble:hover {
    
}


/* ---------------------------------------- */
/* ANIMATIONS */
/* ---------------------------------------- */

.js--wp-1, .js--wp-2, .js--wp-3 {
    
}

.js--wp-1.animated, .js--wp-2.animated, .js--wp-3.animated{
    
}


/* MEDIA QUERIES */
/* BIG TABLET TO 1200px (widths smaller then the 1140px row) */
@media only screen and (max-width: 1200px) {

.hero-text-box { 

        
    }
	
.row {  }
    
    
}

/* SMALL TABLET TO BIG TABLET: 768 - 1023px */
@media only screen and (max-width: 1023px) {

body {   }
    
section {   }
    
.long-copy {
        
    }

.steps-box:last-child, .steps-box:first-child {  }
.works-step {  }
.works-step:last-of-type {  }
    
.app-screen {  }
    
.icon-small {
		
		}
		
.city-feature {  }
    
.plan-box {
		
		}
		
.plan-price {  }
    
.contact-form {  }	


}

/* SMALL PHONES LANDSCAPE and TABLETS: 480 - 767px */
@media only screen and (max-width: 767px) {
	
body {  }

section {  }
    
.row, .hero-text-box {}
    
.col {}
    
.main-nav {}
    
.mobile-nav-icon {
        
    }
    
.main-nav {
        
    }
    
.main-nav li {
        
    }
    
.main-nav li a:link, .main-nav li a:visited {
        
    }
    
.sticky .main-nav {
        
    }

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
        
    }
    
.sticky .mobile-nav-icon {
        
    }
    
.sticky .mobile-nav-icon i {
        
    }
    
.long-copy {}
    
h1 {}
h2 {}
    
.works-step {}
.works-step:last-of-type {}
    
.works-step div {
        
    }
    
.multicol {}
    
.steps-box:first-child {}
    
.col:first-child {}
    
.app-screen {}
    
blockquote {}
    
footer {}
    
.social-links, .footer-nav {}
    
.map-box {
        
    }

.map {
       
    }

.form-box {
        
    }

    
}

/* SMALL PHONES PORTRAIT: 0 - 480px */
@media only screen and (max-width: 480px) {
    
section {  }
    
.contact-form {  }
    
.multicol {  }
 
 
}






















