/* COLOR= #e67e22; 

GRID.CSS=

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

*/

/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;           
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;    
}

section {
    padding: 80px 0;        
}

.box {
    
}

/* ----- HEADINGS -------- */
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0; 
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e67e22;
    width: 100px;
    margin: 30px auto 0 auto;
}

@keyframes highlight {
    0% {
        color: #e67e22;
        letter-spacing: 8px;
    }
    100% {
        color: currentColor;
        letter-spacing: 1px;
    }
}

h2#ourcities:target, h2#signup:target {
    
}

h3 {
    font-size: 110%;
    letter-spacing: 1px;
}

/* ----- PARAGRAPHS ------ */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS -------- */
.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    
    
    /* horizontal centering: */
    
    
    /* vertical centering: */
    
}

/* ----- LINKS ------ */
a:link, a:visited {
    
}

a:hover, a:focus {
    
}

/* ----- BUTTONS -------- */
.btn:link, .btn:visited {
    display: inline-block;
    padding: .5em 1em;
    font-weight: 300;
    border-radius: 999em;
    border: 1px solid #e67e22;
    transition: background-color 300ms 50ms, color 300ms 150ms, border 300ms 50ms;
}

.btn-full:link, .btn-full:visited {
    background-color: #e67e22;
    color: #fff; 
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    color: #e67e22;
}

.btn:hover, .btn:focus  {
    background-color: #cf6217;
    border: 1px solid #cf6217;
}

.btn-ghost:hover, .btn-ghost:focus {
    color: #fff;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    
}

/* MAIN nav */
.main-nav {
    float: right;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    padding: .444em 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 300ms 50ms;
}

.main-nav li a:hover, .main-nav li a:focus {
    border-bottom: 2px solid #e67e22;       
}

/* MOBILE nav */
.mobile-nav-icon {
    
} 

.mobile-nav-icon i {
    
}

/* Sticky Nav */
.sticky {
    
}

.sticky .main-nav {
    
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    
}

.sticky .logo {
   
}

.sticky .logo-black {
    
}

/* ---------------------------------------- */
/* FEATURES */
/* ---------------------------------------- */
.section-features .long-copy {
    
}

/* ---------------------------------------- */
/* MEALS  --no row used so pics take full viewport width-- */
/* ---------------------------------------- */

.section-meals {
     padding: 0; /* no heading so remove top padding */
}

.meals-showcase {
    width: 100%;    
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    display: block;
    transform: scale(1.15);
    opacity: .7;
    transition: transform 500ms 50ms, opacity 500ms 50ms;
}

.meal-photo img:hover {
    transform: scale(1);
    opacity: 1;
}

/* ---------------------------------------- */
/* HOW IT WORKS */
/* ---------------------------------------- */
.section-steps {
    
}

.steps-box {
    
}

.steps-box:first-child {
    
}

.steps-box:last-child {
    
}

.app-screen {
    
}

.works-step {
       
}

.works-step:last-of-type {
    
}

.works-step div { /* change the #s into a circle */
    
}

.btn-app:link, .btn-app:visited {
    
}

.btn-app img {
    
}

/* ---------------------------------------- */
/* CITIES */
/* ---------------------------------------- */

.box img {
    
}

.city-feature {
    
}

/* ---------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------- */
 
.section-testimonials {
    
}

blockquote {
    
}

blockquote::before {
    
}

cite {
    
}

cite img {
    
}

/* ---------------------------------------- */
/* SIGN UP PLANS*/
/* ---------------------------------------- */

.section-plans {
    
}

.plan-box {
    
}

.plan-box div {
     
}

.plan-box div:last-child {
    
}

.plan-box div:first-child {
    
}

.plan-price {
    
}

.plan-price span {
    
}

.plan-price-meal {
    
}

.plan-box ul li {
    
}

/* ---------------------------------------- */
/* FORM */
/* ---------------------------------------- */

.contact-form {
    
}

input[type="text"], input[type="email"], select, textarea {
    
}

textarea {
    
}

input[type="checkbox"] {
    
}

*:focus {
    
}
/*
.contact-form .col:not(:first-child) { margin-left: 0;} /* now all the rows that wrap each label/input are not needed */

.map-box {
    
}

.map {
    
}

.form-box {
    
}

.form-messages {
    
}

.success {
    
}

.error {
    
}

/* ---------------------------------------- */
/* FOOTER */
/* ---------------------------------------- */

footer {
    
}

footer p {
    
}

.footer-nav {
    
}

.social-links {
    
}

.footer-nav li, .social-links li {
    
}

.footer-nav li:last-child, .social-links li:last-child {
    
}

.footer-nav li a:link, .footer-nav li a:visited,
.social-links li a:link, .social-links li a:visited {
    
}

.footer-nav li a:hover, .footer-nav li a:focus {
    
}

.social-links li a:link, .social-links li a:visited {
    
}

.social-links i {
    
}

.ion-social-facebook:hover {
      
}

.ion-social-twitter:hover {
    
}

.ion-social-codepen:hover {
    
}

.ion-social-dribbble:hover {
    
}


/* ---------------------------------------- */
/* ANIMATIONS */
/* ---------------------------------------- */

.js--wp-1, .js--wp-2, .js--wp-3, .js--wp-4 {
    
}

.js--wp-1.animated, .js--wp-2.animated, .js--wp-3.animated, .js--wp-4.animated{
    
}


/* MEDIA QUERIES */
/* BIG TABLET TO 1200px (widths smaller then the 1140px row) */
@media only screen and (max-width: 1200px) {

.hero-text-box { 

        
    }
	
.row {  }
    
    
}

/* SMALL TABLET TO BIG TABLET: 768 - 1023px */
@media only screen and (max-width: 1023px) {

body {   }
    
section {   }
    
.long-copy {
        
    }

.steps-box:last-child, .steps-box:first-child {  }
.works-step {  }
.works-step:last-of-type {  }
    
.app-screen {  }
    
.icon-small {
		
		}
		
.city-feature {  }
    
.plan-box {
		
		}
		
.plan-price {  }
    
.contact-form {  }	


}

/* SMALL PHONES LANDSCAPE and TABLETS: 480 - 767px */
@media only screen and (max-width: 767px) {
	
body {  }

section {  }
    
.row, .hero-text-box {}
    
.col {}
    
.main-nav {}
    
.mobile-nav-icon {
        
    }
    
.main-nav {
        
    }
    
.main-nav li {
        
    }
    
.main-nav li a:link, .main-nav li a:visited {
        
    }
    
.sticky .main-nav {
        
    }

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
        
    }
    
.sticky .mobile-nav-icon {
        
    }
    
.sticky .mobile-nav-icon i {
        
    }
    
.long-copy {}
    
h1 {}
h2 {}
    
.works-step {}
.works-step:last-of-type {}
    
.works-step div {
        
    }
    
.multicol {}
    
.steps-box:first-child {}
    
.col:first-child {}
    
.app-screen {}
    
blockquote {}
    
footer {}
    
.social-links, .footer-nav {}
    
.map-box {
        
    }

.map {
       
    }

.form-box {
        
    }

    
}

/* SMALL PHONES PORTRAIT: 0 - 480px */
@media only screen and (max-width: 480px) {
    
section {  }
    
.contact-form {  }
    
.multicol {  }
 
 
}






















